<body>
    <div class="container px-lg-5 text-center" style="padding-top: 2%;">
        <input type="text" placeholder="게임 이름" name="keyword" style="width: 60%;">
        <button>입력</button>
    </div>
    <div class="container px-lg-5 text-center" style="padding-top: 2%;">
        <table class="table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <td width="25%">2인용</td>
                    <td>3~4인용</td>
                    <td>4~6인용</td>
                    <td>6~8인용</td>
                </tr>
            <thead>
        </table>
    </div>
    <div class="container px-lg-5 text-center" style="padding-top: 2%;">
        <table class="table-striped table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <td>이미지</td>
                    <td>4~6인용</td>
                    <td>6~8인용</td>
                </tr>
                <tr>
                    <td>3~4인용</td>
                    <td>4~6인용</td>
                    <td>6~8인용</td>
                </tr>
            <thead>
        </table>
    </div>
</body>
