<body>
    <div class="container px-lg-5 text-center" style="padding-top: 2%;">
        <input type="text" placeholder="게임 이름" name="keyword" style="width: 60%;">
        <button>입력</button>
    </div>
    <div class="container px-lg-5 text-center" style="padding-top: 2%;">
        <table class="table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <td width="25%">2인용</td>
                    <td>3~4인용</td>
                    <td>4~6인용</td>
                    <td>6~8인용</td>
                </tr>
            <thead>
        </table>
    </div>
    <div class="container px-lg-5 text-center" style="padding-top: 2%;">
        <table class="table table-bordered" style="width: 100%;">
            <thead>
                <%for(var i=0;i<5;i++) {%>
                    <tr height="200px">
                        <td><a href='/games/readGames'>이미지<a></td>
                        <td><img src="/images/할리갈리-1639850115934.jfif" alt="" /> </td>
                        <td>이미지</td>
                    </tr>
                    <tr>
                        <td>게임 이름</td>
                        <td>게임 이름</td>
                        <td>게임 이름</td>
                    </tr>
                <%}%>
        </table>
    </div>
    <div class="container px-lg-5">
        <%if(session.admin) {%>
        <button class="btn bg-light" onclick="location.href='/games/writeGame'" style="position: relative; left: 92%;">게임 추가</button>
        <%}%>
    </div>
</body>
