<body>
    <div class="container px-lg-5 text-center" style="padding-top: 2%;">
        <table class="table text-center">
            <%for(var i=0;i<5;i++) {%>
                <thead>
                    <tr height="200px">
                        <td><a href='/games/readGames'><img src="/images/할리갈리-1639850115934.jfif" height="500" /></a></td>
                    </tr>
                    <tr>
                        <td><a href='/games/readGames'>게임 이름</a></td>
                    </tr>
                </thead>
            <%}%>
        </table>
    </div>
    <div class="container px-lg-5">
        <%if(session.admin) {%>
        <button class="btn bg-light" onclick="location.href='/games/writeGame'" style="position: relative; left: 92%;">게임 추가</button>
        <%}%>
    </div>
</body>