<body>
    <div class="container px-lg-5 text-center" style="padding-top: 2%;">
        <table class="table table-bordered" style="width: 100%;">
            <thead>
                <%for(var i=0;i<5;i++) {%>
                    <tr height="200px">
                        <td><a href='/games/readGames'>이미지<a></td>
                        <td>이미지</td>
                        <td>이미지</td>
                    </tr>
                    <tr>
                        <td>게임 이름</td>
                        <td>게임 이름</td>
                        <td>게임 이름</td>
                    </tr>
                <%}%>
        </table>
    </div>
    <div class="container px-lg-5">
        <%if(session.admin) {%>
        <button class="btn bg-light" onclick="location.href='/games/writeGames'" style="position: relative; left: 92%;">게임 추가</button>
        <%}%>
    </div>
</body>