
<body>
    <br>
    <div class="container px-lg-5">
        <form action="/notice/writeNotice" method="post">
            <div id="contentForm"> 
                <input type="hidden" name="pageNum" value="${pageNum}"> 
                <input type="hidden" name="articleNumber" value="${article.articleNumber}"> 
                <div class="input-group input-group-sm"> 
                    <table class="table table-striped table-bordered"> 
                        <thead>   
                            <tr> 
                                <th>제목</th> 
                                <td><input type="text" name="title" class="form-control"></td> 
                            </tr>
                            <tr> 
                                <th width="30%">게임 인원</th> 
                                <td width="70%"><input type="text" name="member" class="form-control"></td> 
                            </tr> 
                            <tr> 
                                <th>게임 시간</th> 
                                <td><input type="text" name="time" class="form-control"></td>
                            </tr>
                            <tr> 
                                <th>난이도</th> 
                                <td><input type="text" name="level" class="form-control"></td> 
                            </tr>
                            <tr> 
                                <th style="padding-top: 15px">방식</th> 
                                <td><input type="text" name="type" class="form-control"></td> 
                            </tr>
                        </thead> 
                        <tbody> 
                            <tr> 
                                <td colspan="2"> <textarea class="form-control" name="content" rows="20" name="content" >
    게임소개
                                </textarea> </td> 
                            </tr> 
                            <tr>
                                <th style="padding-top: 15px">썸네일 이미지</th> <td><input type="file" class="btn btn-default" name="fileName"></td> 
                            </tr> 
                        </tbody> 
                    </table> 
                </div> 
                <div> 
                    <input type="submit" class="btn bg-light" value="게임 추가"> 
                    <input type="button" class="btn bg-light" value="뒤로 가기" onclick="document.location.href='/notice'"> 
                </div> 
            </div> 
        </form>
</body>